@import "tailwindcss";
* {
  font-family: "Raleway", sans-serif;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.bgImage {
  background: url(./assets/images/bg-video-01.jpg);
  background-position: center;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bgImages {
  background: url(./assets/images/banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bgAbout {
  background: url(./assets/images/banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
